<%- include("TopPage.ejs") %>
<main>
    <h1 id="employees">
        Employees
    </h1>

    <body>
    <link href="/css/style.css" rel="stylesheet" type="text/css">

    <form action="/Clock/Add" method="post">
        <input type="text" id=""
        <input type="text" name="name1"   id="first_name" placeholder= "Enter first name"/> <br><br>
        <input type="text" name="name2"   id="last_name"   placeholder="Enter last name"/> <br><br>
        <button>send</button>
    </form>
    </body>
    <script>
        async function AddLine(){
            let id = document.getElementById("id").value;
            let firstname=document.getElementById("first_name").value;
            let lastName=document.getElementById("last_name").value;
            let response = await fetch('/Clock/Add', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({first_name: firstname, last_name: lastName})
                }
            );
            let jsn=await response.json();
            console.log(jsn);
        }
    </script>
    <script src="/routes/EmployeesR.js"></script>
</main>