<%- include("topPage.ejs") %>

<main>
    <h1 id="employees">Employees Time</h1>

    <label for="choice"></label><select id="choice"></select>
    <hr/>

    <table id="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>time_entry</th>
            <th>time_exit</th>
            <th>date</th>
        </tr>
        </thead>
        <tbody id="twoEmployees">  </tbody>
    </table>
    <script src="/js/EmployeesTime.js"></script>
</main>


<%- include("bottom.ejs") %>